<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
	
	<img th:src="@{/images/logo.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" />
	<form th:action="@{/admin/menu}" method="GET">	
		<nav class="navbar navbar-inverse bg-inverse">
	  		<div class="container-fluid">    		
	    	<ul class="nav navbar-nav">
	          <li class="navbar-btn"><span style="color:white;" >Bienvenido <span th:text="${#authentication.name}"></span></span></li>
		      <li><button class="btn btn-link" style="color:white;" type="submit" name="action" value="home">Inicio</button></li>
		      <li><button class="btn btn-link" style="color:white;" type="submit" name="action" value="viewListStudent">Listado de alumnos</button></li>
		      <li><button class="btn btn-link" style="color:white;" type="submit" name="action" value="viewListTeacher">Listado de profesores</button></li>
		      <li><button class="btn btn-link" style="color:white;" type="submit" name="action" value="viewListSubject">Listado de asignaturas</button></li>
		      <li><button class="btn btn-link" style="color:white;" type="submit" name="action" value="viewNewUser">Nuevo usuario</button></li>
		      <li><button class="btn btn-link" style="color:white;" type="submit" name="action" value="viewNewSubject">Nueva asignatura</button></li>
		      <li><form th:action="@{/logout}" method="POST">
				 <button class="btn btn-danger">Desconectar</button>
			  </form>
			  </li>   
		      
	    	</ul>  	
	  		</div>
		</nav>
	</form>
	 	
		<div class="panel-group">
			<div class="panel panel-primary">
				<div class="panel-heading">
					
				</div>
				<div class="panel-body">
					<img th:src="@{/images/beer.jpg}" class="img-responsive center-block" width="400" height="400" alt="Beer" /> 
				</div>
				<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
			</div>
		</div>
		
	</div>
</body>
</html>