<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
	
	<div th:replace="admin/menu :: menu"></div>

		<!-- Formulario de alta -->
		<form th:action="@{/profesor/createNewUser}" th:object="${usuarioDto}" method="POST">
		  <div class="form-group-usuario">
		    <label for="usuario">Usuario</label>
		    <input type="text" class="form-control" th:field="*{usuario}" placeholder="Introduzca el usuario"/>
		  </div>
		  <div class="form-group">
		    <label for="password">Password</label>
		    <input type="password" class="form-control" th:field="*{password}" placeholder="Introduzca la password"/>
		  </div>
		  <div class="form-group">
		    <label for="nombre">Nombre</label>
		    <input type="text" class="form-control" th:field="*{nombre}" placeholder="Introduzca el nombre"/>
		  </div>
		  <div class="form-group">
		    <label for="apellido1">Primer Apellido</label>
		    <input type="text" class="form-control" th:field="*{apellido2}" placeholder="Introduzca el primer apellido"/>
		  </div>
		  <div class="form-group">
		    <label for="apellido2">Primer Apellido</label>
		    <input type="text" class="form-control" th:field="*{apellido1}" placeholder="Introduzca el segundo apellido"/>
		  </div>
		  <div class="form-group">
		    <label for="email">Email</label>
		    <input type="text" class="form-control" th:field="*{email}" aria-describedby="emailHelp" placeholder="Introduzca el email"/>
		     <small id="emailHelp" class="form-text text-muted">No compartiremos tu email con nadie.</small>
		  </div>
		   <div class="form-group">
		    <label for="email">Rol</label>
		    <select class="form-control" id="roles"  th:field="*{rol.id}">
    			<option th:each="rol : ${listRoles}" th:value="${rol.id}" th:text="${rol.nombre}"></option>
    		</select>
		  </div>
		  <button type="submit" class="btn btn-primary">Enviar</button>
	   </form>
		
	</div>
</body>
</html>