<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.css"/>
<script type="text/javascript" src="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.js"></script>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
	
	<div th:replace="admin/menu :: menu"></div>
	
	<form th:action="@{/alumno/deleteUser}" method="POST">	
	<table class="table"  data-row-style="rowStyle" data-toggle="table" data-click-to-select="true">
		  <thead class="thead-dark">
		    <tr>
		      <th sec:authorize="hasAuthority('Admin')" scope="col">Seleccionar</th>
		      <th scope="col">Usuario</th>
		      <th scope="col">Nombre</th>
		      <th scope="col">Apellido1</th>
		      <th scope="col">Apellido2</th>
		      <th scope="col">Email</th>
		    </tr>
		  </thead>
		  <tbody th:each="user : ${listUsers}">
		    <tr>
		      <td  sec:authorize="hasAuthority('Admin')"><input type="checkbox" id="checkbox" th:name="idChecked" th:value="${user.usuario}"/></td>
		      <td th:text="${user.usuario}" th:value="${user.usuario}" th:field="*{usuario}"></td>
		      <td th:text="${user.nombre}" th:value="${user.nombre}" th:field="*{nombre}"></td>
		      <td th:text="${user.apellido1}" th:value="${user.apellido1}" th:field="*{apellido1}"></td>
		      <td th:text="${user.apellido2}" th:value="${user.apellido2}" th:field="*{apellido2}"></td>
		      <td th:text="${user.email}" th:value="${user.email}" th:field="*{email}"></td>
		    </tr>		    
		  </tbody>
	</table>
	<div sec:authorize="hasAuthority('Admin')" class="botonera">
		 <button class="btn btn-success">Eliminar</button>
	</div>
	</form>
	
	</div>
</body>
</html>