<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
	<div class="panel-group-home">
			<div class="panel panel-primary">
				<div class="panel-heading">
					
				</div>
				<b>Cause:</b> <span th:if="${ex}" th:text="${ex}">exception ...</span>
				<span th:if="${exception}" th:text="${exception}">exception ...</span>
				<span th:if="${message} and ${message.length() != 0}"
				th:text="${message}">message ...</span>
				<p class="admin-message-text text-center">Ha habido un error.</p>
			</div>
		</div>
	</div>
</body>
</html>